/*
Author: Enze Ren
 */

#halfSpeed{
    pointer-events: auto;
}
#doubleSpeed{
    pointer-events: auto;
}
#play{
    pointer-events: auto;
}
#pause{
    pointer-events: none;
}
#bw{
    pointer-events: none;
}
#fw{
    pointer-events: auto;
}
#dynamicMemory{
    border: 4px dotted yellowgreen;
}
#dynamicMemory:hover{
    cursor: pointer;
}
#staticMemory{
    border: 4px solid dimgray;
}
#staticMemory:hover{
    cursor: pointer;
}
#memoryTable{
    font-size: 20px;
    text-align: center;
    border-collapse: separate;
}
table{
    font-size: 14px;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
td{
    border: 1px solid #f0f8ff;
    text-align: center;
}
th{
    border: 1px solid #f0f8ff;
    text-align: center;
}
.highlightRow{
    background-color: aliceblue;
}
.framePointer{
    background-color: #70ffe7;
}
.stackPointer{
    background-color: #ff97b2;
}
.CodeMirror{
    text-align: left;
}
.fas{
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;
    color: blue;
    text-decoration: none;
}
.far{
    font-size: 22px;
    margin-left: 7px;
    margin-right: 7px;
    color: blue;
    text-decoration: none;
}
.dataCircle{
    position: absolute;
    opacity: 0;
    animation-timing-function: linear;
}
#data3_1{
    opacity: 1;
}
.CtlWire{
    position: absolute;
    opacity: 0;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@font-face {
    font-family: 'Cormorant Unicase Bold';
    src: url("../css/Cormorant_Unicase/CormorantUnicase-Bold.ttf");
    src: url("../css/Cormorant_Unicase/CormorantUnicase-Bold.eot") format('eot'),
    url("../css/Cormorant_Unicase/CormorantUnicase-Bold.woff") format('woff'),
    url("../css/Cormorant_Unicase/CormorantUnicase-Bold.svg") format('svg');
}

@keyframes Wire {
    0%{
        opacity: 0;
    }
    87.5%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pathing {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    33% {
        opacity: 1;
        transform: translate3d(30px, 0px, 0px);
    }
    66% {
        opacity: 1;
        transform: translate3d(30px, -440px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(118px, -440px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(120px, -440px, 0px);
    }
}


@keyframes pathing2 {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translate3d(30px, 0px, 0px);
    }
    34% {
        opacity: 1;
    }
    99% {
        opacity: 1;
        transform: translate3d(94px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(96px, 0px, 0px);
    }
}

@keyframes pathing3 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(67px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(68px, 0px, 0px);
    }
}

@keyframes pathing4 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        opacity: 1;
        transform: translate3d(69.2px, 0px, 0px);
    }
    80% {
        opacity: 1;
        transform: translate3d(69.2px, -296px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(180px, -296px, 0px);
    }
}

@keyframes pathing42 {

    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    10% {
        opacity: 1;
        transform: translate3d(28px, 0px, 0px);
    }
    50% {
        opacity: 1;
        transform: translate3d(28px, -122px, 0px);
    }
    75% {
        opacity: 1;
        transform: translate3d(-100px, -122px, 0px);
    }
    100% {
        transform: translate3d(-100px, -160px, 0px);
    }

}

/*1*/    @keyframes pathing5 {
             0% {
                 opacity: 1;
                 transform: translate3d(0px, 0px, 0px);
             }
             25% {
                 opacity: 1;
                 transform: translate3d(69.2px, 0px, 0px);
             }
             49% {
                 opacity: 1;
                 transform: translate3d(69.2px, -128px, 0px);
             }
             90% {
                 transform: translate3d(129.2px, -128px, 0px);
                 opacity: 1;
             }
             100% {
                 transform: translate3d(129.2px, -128px, 0px);
                 opacity: 0;
             }
         }

/*1*/    @keyframes pathing6 {
             0% {
                 opacity: 1;
                 transform: translate3d(0px, 0px, 0px);
             }
             25% {
                 opacity: 1;
                 transform: translate3d(69.2px, 0px, 0px);
             }
             66% {
                 opacity: 1;
                 transform: translate3d(69.2px, -224px, 0px);
             }
             90% {
                 transform: translate3d(189.2px, -224px, 0px);
                 opacity: 1;
             }
             100% {
                 transform: translate3d(189.2px, -224px, 0px);
                 opacity: 0;
             }
         }

@keyframes pathing7 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    25% {
        opacity: 1;
        transform: translate3d(672px, 0px, 0px);
    }
    30% {
        opacity: 1;
        transform: translate3d(672px, -40px, 0px);
    }
    45% {
        opacity: 1;
        transform: translate3d(952px, -40px, 0px);
    }
    65% {
        opacity: 1;
        transform: translate3d(952px, -15px, 0px);
    }
    75% {
        opacity: 1;
        transform: translate3d(1060px, -15px, 0px);
    }
    90% {
        opacity: 1;
        transform: translate3d(1060px, 17px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(1165px, 17px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(1165px, 17px, 0px);
    }
}

@keyframes pathing72 {
    0%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    20% {
        opacity: 1;
        transform: translate3d(672px, 0px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(855px, 0px, 0px);
    }
    100%{
        transform: translate3d(855px, 0px, 0px);
    }
}

@keyframes pathing73 {
    0%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    20.7% {
        opacity: 1;
        transform: translate3d(390px, 0px, 0px);
    }
    50%{
        opacity: 1;
        transform: translate3d(390px, 32px, 0px);
    }
    75%{
        opacity: 1;
        transform: translate3d(462px, 32px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(462px, 52px, 0px);
    }
    100%{
        transform: translate3d(462px, 52px, 0px);
    }
}

@keyframes pathing8 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    30% {
        opacity:1;
        transform: translate3d(114px, 0px, 0px);
    }
    60% {
        opacity:1;
        transform: translate3d(114px, 26px, 0px);
    }
    99% {
        opacity:1;
        transform: translate3d(245px, 26px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(245px, 30px, 0px);
    }
}



@keyframes pathing9 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    99% {
        opacity: 1;
        transform: translate3d(160px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(160px, 0px, 0px);
    }
}


@keyframes pathing10 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    55.5% {
        opacity: 1;
        transform: translate3d(160px, 0px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(160px, 28px, 0px);
    }
    65% {
        transform: translate3d(188px, 28px, 0px);
        opacity: 1;
    }
    70% {
        transform: translate3d(188px, -11px, 0px);
        opacity: 1;
    }
    99% {
        transform: translate3d(245px, -11px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate3d(245px, -11px, 0px);
        opacity: 0;
    }
}


@keyframes pathing11 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    20% {
        opacity: 1;
        transform: translate3d(30px, 0px, 0px);
    }
    40% {
        opacity: 1;
        transform: translate3d(30px, -145px, 0px);
    }
    60% {
        opacity: 1;
        transform: translate3d(-1434px, -145px, 0px);
    }
    80% {
        opacity: 1;
        transform: translate3d(-1434px, 314px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(-1402px, 314px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(-1402px, 314px, 0px);
    }
}


@keyframes pathing12{
    0%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    10%{
        opacity: 1;
        transform: translate3d(200px, 0px, 0px);
    }
    20%{
        opacity: 1;
        transform: translate3d(200px, 365px, 0px);
    }
    30%{
        opacity: 1;
        transform: translate3d(-375px, 365px, 0px);
    }
    40%{
        opacity: 1;
        transform: translate3d(-375px, 245px, 0px);
    }
    50%{
        opacity: 1;
        transform: translate3d(-430px, 245px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(-430px, 275px, 0px);
    }
    70%{
        opacity: 1;
        transform: translate3d(-635px, 275px, 0px);
    }
    80%{
        opacity: 1;
        transform: translate3d(-635px, 70px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(-605px,70px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-605px, 70px, 0px);
    }
}


@keyframes pathing18 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(60px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(60px, 0px, 0px);
    }
}

@keyframes pathing19 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 1;
    }
    19% {
        opacity: 1;
        transform: translate3d(69.2px, 0px, 0px);
    }
    20%{
        opacity: 1;
        transform: translate3d(69.2px, -12px, 0px);
    }
    30% {
        transform: translate3d(267.2px, -12px, 0px);
        opacity: 1;
    }
    37% {
        transform: translate3d(267.2px, 46px, 0px);
        opacity: 1;
    }
    45% {
        transform: translate3d(387.2px, 46px, 0px);
        opacity: 1;
    }
    60% {
        transform: translate3d(387.2px, 8px, 0px);
        opacity: 1;
    }
    75% {
        transform: translate3d(666.2px, 8px, 0px);
        opacity: 1;
    }
    85% {
        transform: translate3d(666.2px, -64px, 0px);
        opacity: 1;
    }
    95% {
        transform: translate3d(740.2px, -64px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate3d(740.2px, -136px, 0px);
        opacity: 0;
    }
}

/**/  @keyframes pathing20 {
          0% {
              opacity: 1;
              transform: translate3d(0px, 0px, 0px);
          }
          37.7% {
              opacity: 1;
              transform: translate3d(69.2px, 0px, 0px);
          }
          38.7%{
              opacity: 1;
              transform: translate3d(69.2px, -12px, 0px);
          }
          99%{
              transform: translate3d(301.2px, -12px, 0px);
              opacity: 1;
          }
          100%{
              transform: translate3d(301.2px, -12px, 0px);
              opacity: 0;
          }

      }

@keyframes pathing21 {
    0%{
        opacity: 1;
    }
    15%{
        opacity: 1;
        transform: translate3d(205px, 0px, 0px);
    }
    30%{
        opacity: 1;
        transform: translate3d(205px, -50px, 0px);
    }
    45%{
        opacity: 1;
        transform: translate3d(290px, -50px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(290px, -76px, 0px);
    }
    75%{
        opacity: 1;
        transform: translate3d(320px, -76px, 0px);
    }
    90%{
        opacity: 1;
        transform: translate3d(320px, -115px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(365px, -115px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(365px, -115px, 0px);
    }
}

@keyframes pathing22 {
    0%{
        opacity: 1;
    }
    30%{
        opacity: 1;
        transform: translate3d(140px, 0px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(140px, 215px, 0px);
    }
    99% {
        opacity: 1;
        transform: translate3d(-5px, 215px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-5px, 215px, 0px);
    }
}

@keyframes pathing23 {
    0% {
        opacity: 1;
    }
    15%{
        opacity: 1;
        transform: translate3d(-56px, 0px ,0px);
    }
    30%{
        opacity: 1;
        transform: translate3d(-56px, 48px, 0px);
    }
    45%{
        opacity: 1;
        transform: translate3d(-144px, 48px, 0px);
    }
    55%{
        opacity: 1;
        transform: translate3d(-144px, 20px, 0px);
    }
    65%{
        opacity: 1;
        transform: translate3d(-344px, 20px, 0px);
    }
    80%{
        opacity: 1;
        transform: translate3d(-344px, -180px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(-320px, -180px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-320px, -180px, 0px);
    }
}

@keyframes pathing24 {
    0% {
        opacity: 1;
    }
    20%{
        opacity: 1;
        transform: translate3d(45px, 0px, 0px);
    }
    40%{
        opacity: 1;
        transform: translate3d(45px, 86px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(424px, 86px, 0px);
    }
    80%{
        opacity: 1;
        transform: translate3d(424px, 252px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(340px, 252px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(340px, 252px, 0px);
    }
}

@keyframes pathing25 {
    0% {
        opacity: 1;
    }
    30%{
        opacity: 1;
        transform: translate3d(205px, 0px, 0px);
    }
    60%{
        opacity: 1;
        transform: translate3d(205px, -290px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(245px, -290px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(245px, -290px, 0px);
    }
}

@keyframes pathing26 {
    0%{
        opacity: 1;
    }
    99%{
        transform: translate3d(60px, 0px, 0px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate3d(60px, 0px, 0px);
    }
}


/**/   @keyframes pathing27 {
           0%{
               opacity: 0;
           }
           45%{
               opacity: 0;
           }
           50%{
               transform: translate3d(0px, 0px, 0px);
               opacity: 1;
           }
           70%{
               transform: translate3d(100px, 0px, 0px);
               opacity: 1;
           }
           80%{
               transform: translate3d(100px, -32px, 0px);
               opacity: 1;
           }
           99%{
               opacity: 1;
               transform: translate3d(190px, -32px, 0px);
           }
           100%{
               opacity: 0;
               transform: translate3d(190px, -32px, 0px);
           }
       }

@keyframes pathing28 {

    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translate3d(58.8px, 0px, 0px);
    }
    66% {
        opacity: 1;
        transform: translate3d(58.8px, -352px, 0px);
    }
    99%{
        opacity: 1;
        transform: translate3d(108px, -352px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(108px, -352px, 0px);
    }

}


@keyframes pathing29 {

    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
        transform: translate3d(104px, 0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate3d(104px, 0px, 0px);
    }

}


/**/  @keyframes pathing30 {
          0% {
              opacity: 1;
          }
          50% {
              opacity: 1;
              transform: translate3d(104px, 0px, 0px);
          }
          60%{
              opacity: 1;
              transform: translate3d(296px, 0px, 0px);
          }
          70%{
              opacity: 1;
              transform: translate3d(296px, -108px, 0px);
          }
          80%{
              opacity: 1;
              transform: translate3d(755px, -108px, 0px);
          }
          90%{
              opacity: 1;
              transform: translate3d(755px, 30px, 0px);
          }
          99%{
              opacity: 1;
              transform: translate3d(795px, 30px, 0px);
          }
          100%{
              opacity: 0;
              transform: translate3d(795px, 30px, 0px);
          }
      }

@keyframes pathing31 {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        opacity: 1;
        transform: translate3d(69.2px, 0px, 0px);
    }
    66% {
        opacity: 1;
        transform: translate3d(69.2px, -224px, 0px);
    }
    70% {
        transform: translate3d(91.6px, -224px, 0px);
        opacity: 1;
    }
    75% {
        transform: translate3d(91.6px, -184.6px, 0px);
        opacity: 1;
    }
    80% {
        transform: translate3d(134.6px, -184.6px, 0px);
        opacity: 1;
    }
    85% {
        transform: translate3d(134.6px, -158.3px, 0px);
        opacity: 1;
    }
    90% {
        transform: translate3d(203.8px, -158.3px, 0px);
        opacity: 1;
    }
    100% {
        transform: translate3d(203.8px, -158.3px, 0px);
        opacity: 0;
    }
}
@keyframes pathing7_0 {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 0;
    }
    25% {
        opacity: 0;
        transform: translate3d(672px, 0px, 0px);
    }
    30% {
        opacity: 0;
        transform: translate3d(672px, -40px, 0px);
    }
    45% {
        opacity: 0;
        transform: translate3d(952px, -40px, 0px);
    }
    65% {
        opacity: 0;
        transform: translate3d(952px, -15px, 0px);
    }
    75% {
        opacity: 0;
        transform: translate3d(1060px, -15px, 0px);
    }
    90% {
        opacity: 0;
        transform: translate3d(1060px, 17px, 0px);
    }
    99% {
        opacity: 0;
        transform: translate3d(1165px, 17px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(1165px, 17px, 0px);
    }
}

@keyframes pathing8_0 {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 0;
    }
    30% {
        opacity: 0;
        transform: translate3d(114px, 0px, 0px);
    }
    60% {
        opacity: 0;
        transform: translate3d(114px, 26px, 0px);
    }
    99% {
        opacity: 0;
        transform: translate3d(245px, 26px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(245px, 30px, 0px);
    }
}
@keyframes pathing10_0 {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 0;
    }
    55.5% {
        opacity: 0;
        transform: translate3d(160px, 0px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(160px, 28px, 0px);
    }
    65% {
        transform: translate3d(188px, 28px, 0px);
        opacity: 0;
    }
    70% {
        transform: translate3d(188px, -11px, 0px);
        opacity: 0;
    }
    99% {
        transform: translate3d(245px, -11px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate3d(245px, -11px, 0px);
        opacity: 0;
    }
}


@keyframes pathing11_0 {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: translate3d(30px, 0px, 0px);
    }
    40% {
        opacity: 0;
        transform: translate3d(30px, -145px, 0px);
    }
    60% {
        opacity: 0;
        transform: translate3d(-1434px, -145px, 0px);
    }
    80% {
        opacity: 0;
        transform: translate3d(-1434px, 314px, 0px);
    }
    99% {
        opacity: 0;
        transform: translate3d(-1402px, 314px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(-1402px, 314px, 0px);
    }
}


@keyframes pathing12_0 {
    0%{
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    10%{
        opacity: 0;
        transform: translate3d(200px, 0px, 0px);
    }
    20%{
        opacity: 0;
        transform: translate3d(200px, 365px, 0px);
    }
    30%{
        opacity: 0;
        transform: translate3d(-375px, 365px, 0px);
    }
    40%{
        opacity: 0;
        transform: translate3d(-375px, 245px, 0px);
    }
    50%{
        opacity: 0;
        transform: translate3d(-430px, 245px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(-430px, 275px, 0px);
    }
    70%{
        opacity: 0;
        transform: translate3d(-635px, 275px, 0px);
    }
    80%{
        opacity: 0;
        transform: translate3d(-635px, 70px, 0px);
    }
    99%{
        opacity: 0;
        transform: translate3d(-605px,70px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-605px, 70px, 0px);
    }
}
@keyframes pathing19_0 {
    0% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
    }
    1%{
        opacity: 0;
    }
    19% {
        opacity: 0;
        transform: translate3d(69.2px, 0px, 0px);
    }
    20%{
        opacity: 0;
        transform: translate3d(69.2px, -12px, 0px);
    }
    30% {
        transform: translate3d(267.2px, -12px, 0px);
        opacity: 0;
    }
    37% {
        transform: translate3d(267.2px, 46px, 0px);
        opacity: 0;
    }
    45% {
        transform: translate3d(387.2px, 46px, 0px);
        opacity: 0;
    }
    60% {
        transform: translate3d(387.2px, 8px, 0px);
        opacity: 0;
    }
    75% {
        transform: translate3d(666.2px, 8px, 0px);
        opacity: 0;
    }
    85% {
        transform: translate3d(666.2px, -64px, 0px);
        opacity: 0;
    }
    95% {
        transform: translate3d(740.2px, -64px, 0px);
        opacity: 0;
    }
    100% {
        transform: translate3d(740.2px, -136px, 0px);
        opacity: 0;
    }
}

/**/  @keyframes pathing20_0 {
          0% {
              opacity: 0;
              transform: translate3d(0px, 0px, 0px);
          }
          37.7% {
              opacity: 0;
              transform: translate3d(69.2px, 0px, 0px);
          }
          38.7%{
              opacity: 0;
              transform: translate3d(69.2px, -12px, 0px);
          }
          99%{
              transform: translate3d(301.2px, -12px, 0px);
              opacity: 0;
          }
          100%{
              transform: translate3d(301.2px, -12px, 0px);
              opacity: 0;
          }

      }

@keyframes pathing21_0 {
    0%{
        opacity: 0;
    }
    15%{
        opacity: 0;
        transform: translate3d(205px, 0px, 0px);
    }
    30%{
        opacity: 0;
        transform: translate3d(205px, -50px, 0px);
    }
    45%{
        opacity: 0;
        transform: translate3d(290px, -50px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(290px, -76px, 0px);
    }
    75%{
        opacity: 0;
        transform: translate3d(320px, -76px, 0px);
    }
    90%{
        opacity: 0;
        transform: translate3d(320px, -115px, 0px);
    }
    99%{
        opacity: 0;
        transform: translate3d(365px, -115px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(365px, -115px, 0px);
    }
}

@keyframes pathing22_0 {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translate3d(140px, 0px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(140px, 215px, 0px);
    }
    99% {
        opacity: 0;
        transform: translate3d(-5px, 215px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-5px, 215px, 0px);
    }
}

@keyframes pathing23_0 {
    0% {
        opacity: 0;
    }
    15%{
        opacity: 0;
        transform: translate3d(-56px, 0px ,0px);
    }
    30%{
        opacity: 0;
        transform: translate3d(-56px, 48px, 0px);
    }
    45%{
        opacity: 0;
        transform: translate3d(-144px, 48px, 0px);
    }
    55%{
        opacity: 0;
        transform: translate3d(-144px, 20px, 0px);
    }
    65%{
        opacity: 0;
        transform: translate3d(-344px, 20px, 0px);
    }
    80%{
        opacity: 0;
        transform: translate3d(-344px, -180px, 0px);
    }
    99%{
        opacity: 0;
        transform: translate3d(-320px, -180px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(-320px, -180px, 0px);
    }
}

@keyframes pathing24_0 {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0;
        transform: translate3d(45px, 0px, 0px);
    }
    40%{
        opacity: 0;
        transform: translate3d(45px, 86px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(424px, 86px, 0px);
    }
    80%{
        opacity: 0;
        transform: translate3d(424px, 252px, 0px);
    }
    99%{
        opacity: 0;
        transform: translate3d(340px, 252px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(340px, 252px, 0px);
    }
}

@keyframes pathing25_0 {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: translate3d(205px, 0px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(205px, -290px, 0px);
    }
    99%{
        opacity: 0;
        transform: translate3d(245px, -290px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(245px, -290px, 0px);
    }
}

@keyframes pathing26_0 {
    0%{
        opacity: 0;
    }
    99%{
        transform: translate3d(60px, 0px, 0px);
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translate3d(60px, 0px, 0px);
    }
}


@keyframes pathing27_0 {
    0%{
        opacity: 0;
    }
    45%{
        opacity: 0;
    }
    50%{
        transform: translate3d(0px, 0px, 0px);
        opacity: 1;
    }
    70%{
        transform: translate3d(100px, 0px, 0px);
        opacity: 1;
    }
    80%{
        transform: translate3d(100px, -32px, 0px);
        opacity: 1;
    }
    99%{
        opacity: 1;
        transform: translate3d(190px, -32px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(190px, -32px, 0px);
    }
}

@keyframes pathing30_0 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: translate3d(104px, 0px, 0px);
    }
    60%{
        opacity: 0;
        transform: translate3d(296px, 0px, 0px);
    }
    70%{
        opacity: 0;
        transform: translate3d(296px, -108px, 0px);
    }
    80%{
        opacity: 0;
        transform: translate3d(755px, -108px, 0px);
    }
    90%{
        opacity: 0;
        transform: translate3d(755px, 30px, 0px);
    }
    99%{
        opacity: 0;
        transform: translate3d(795px, 30px, 0px);
    }
    100%{
        opacity: 0;
        transform: translate3d(795px, 30px, 0px);
    }
}